<div class="container text-center my-5">
  <h1>Merci pour votre adhésion</h1>
  <h3 class="my-4">Nous avons bien reçu votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</h3>
  <h4 class="my-4">Le statut de votre paiement est : "<%= @payment_intent.status %>" !</h4>

  <h4 class="my-4">Bienvenue dans ETP premium</h4>
  <li class="nav-item"><a class="btn btn-warning  py-1 px-2" href="<%= carts_path%>" class="nav-link">ACCEDER AUX GIFS</a></li>


</div>