<h2>Ecris Ton Prénom / heroku + FRONT test </h2>

<header class="site-navbar site-navbar-target" role="banner">


    <div class="container d-flex justify-content-around mt-5">
    
       <div class="site-logo mr-auto">
          <a href="index.html">ETP<span class="text-primary">.</span></a>
        </div>     
    
        <div class="menu-wrap d-flex align-items-center">
          <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>

          

            

            <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto ">
                <li class="active"><a href="index.html" class="nav-link">Home</a></li>
                <li><a href="about.html" class="nav-link">A propos</a></li>
                <li><a href="packages.html" class="nav-link">Jeux</a></li>
                <li><a href="gallery.html" class="nav-link">Gallerie</a></li>
                <li><a href="pricing.html" class="nav-link">Premium</a></li>
                <li><a href="contact.html" class="nav-link">Contact</a></li>
                
               
              </ul>
            </nav>

            <div class="top-social ml-auto">
              <a href="#"><span class="icon-facebook text-teal"></span></a>
              <a href="#"><span class="icon-twitter text-success"></span></a>
              <a href="#"><span class="icon-linkedin text-yellow"></span></a>
            </div>
        </div>
      </div>
      

     

    </header>

      <div class="ftco-blocks-cover-1">
       
      <div class="site-section-cover overlay">
        <div class="container">
          <div class="row align-items-center ">
            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 text-red">Bienvenue sur notre site </span>
              <h1 class="mb-3 font-weight-bold text-teal">J'écris mon prénom</h1>
              <p>Apprendre tout en s'amusant</p>
              <p class="mt-5"><a href="#" class="btn btn-primary py-4 btn-custom-1">Inscription</a></p>
            </div>
            <div class="col-md-6 ml-auto align-self-end">
              <%# <img src="images/kid_transparent.png" alt="Image" class="img-fluid"> %>
               <%= image_tag "kid_transparent.png", :alt => "kid image",style: "",class: "img-fluid " %>
              
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="block-2 red">
              <span class="wrap-icon">
                <span class="icon-home"></span>
              </span>
              <h2>Indoor Games</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim id culpa.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 yellow">
              <span class="wrap-icon">
                <span class="icon-person"></span>
              </span>
              <h2>Outdoor Game And Event</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim id culpa.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 teal">
              <span class="wrap-icon">
                <span class="icon-cog"></span>
              </span>
              <h2>Camping for Kids</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim id culpa.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <%# <img src="images/img_1.jpg" alt="Image" class="img-fluid"> %>
              <%# <%= image_tag "img_1", :alt => "kids image",style: "",class: "img-fluid " %> %>
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">About Us</span>
            <h3 class="text-black">Bring Fun Life To Your Kids</h3>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et harum, magni sequi nostrum maxime enim.</span><span>Magnam id atque dicta deleniti, ipsam ipsum distinctio. Facilis praesentium voluptatem accusamus, earum veritatis, laudantium.</span></p>

            <p class="mt-5"><a href="#" class="btn btn-warning py-4 btn-custom-1">More About Us</a></p>
          </div>
        </div>
      </div>
    </div>
    