<body style="background-color:#17a2b8;">
</body>

<div class="container-game d-flex h-100">

    <div class="row align-self-center">
        <div class="container-g-1 d-flex h-100">
<div class="package text-center bg-white">
            <a href="#" class="btn btn-teal">prénom</a>
            <a href="#" class="btn btn-primary">prénom</a>
            <a href="#" class="btn btn-success">prénom</a>
        
            <a href="#" class="btn btn-danger">prénom</a>
            <a href="#" class="btn btn-info">prénom</a>
            <a href="#" class="btn btn-dark">prénom</a>
            
        </div>
        </div>
        </div>
    </div>
</div>
</body>