<div class="container text-center my-5">
<h1>Ecris ton prénom</h1>
<li class="nav-item"><a class="btn btn-warning  py-1 px-2" href="" class="nav-link">Premium</a></li>
<h2>Passer à la version premium<h2>

<%= button_to "Passer commande", checkout_create_path(total: 10.00), class: "btn btn-primary", remote: true %>
<p>cliquer sur le bouton "passer commande"</p>
</div>