<p>Bonjour <%= @resource.email %>!</p>

<p>Vous pouvez changer de mot de passe en cliquant sur le lien ci-dessous</p>

<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas fait cette demande vous pouvez ignorer cet email.</p>

<p>Votre mot de passe ne changera pas tant que vous ne cliquez pas sur le lien.</p>
