 <footer class="site-footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
          <div class="img-github">
                    <%= image_tag "github.png", :alt => "avatar",style: "",class: "img-fluid " %>
                    </div>
                
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row text-center">
              <div class="col-lg-4 text-centerS">
                <h2 class="footer-heading mb-4">Liens</h2>
                <ul class="list-unstyled">
                  <li><a href="https://github.com/profprogrammeur">Antoine</a></li>
                  <li><a href="https://github.com/Naoxy">Paul</a></li>
                  <li><a href="https://github.com/HugCls">Hugo</a></li>
                </ul>
              </div>

              <div class="col-lg-8 mt-5 ml-auto">
            <div class="row text-center">
              <div class="col-lg-4 text-centerS">
                <ul class="list-unstyled">
                  <li><a href="https://www.profprogrammeur.com/">Plus de jeux</a></li>
                  </ul>
              </div>

              
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>